<h1>Pages#contact</h1>

<p><%= number_to_phone "3113456789"%></p>

<p><%= number_to_currency "311"%></p>

<p><%= number_to_percentage "33.5"%></p>

<p><%= number_with_delimiter "33246873467823"%></p>
